# Assigning ownership for specific files or directories
# Syntax: <file or directory path> <GitHub username or team>

# Assigning ownership for all files in a directory
# Syntax: <directory path>/* <GitHub username or team>

# Assigning ownership for all files in a repository
# Syntax: * <GitHub username or team>

* @opendatahub-io/architects

/documentation/components/dashboard/ @opendatahub-io/architects @opendatahub-io/exploring-team
/documentation/components/devops/ @opendatahub-io/architects @opendatahub-io/platform
/documentation/components/distributed-workloads/ @opendatahub-io/architects @opendatahub-io/training-experimentation
/documentation/components/edge/ @opendatahub-io/architects @opendatahub-io/platform
/documentation/components/explainability/ @opendatahub-io/architects @opendatahub-io/model-serving
/documentation/components/llama-stack/ @opendatahub-io/architects @opendatahub-io/llama-team
/documentation/components/model-registry/ @opendatahub-io/architects @opendatahub-io/model-serving
/documentation/components/pipelines/ @opendatahub-io/architects @opendatahub-io/training-experimentation
/documentation/components/platform/ @opendatahub-io/architects @opendatahub-io/platform
/documentation/components/serving/ @opendatahub-io/architects @opendatahub-io/model-serving
/documentation/components/workbenches/ @opendatahub-io/architects @opendatahub-io/exploring-team

